*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open_Sans";
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    vertical-align: bottom;
    max-width: 100%;
}
.container{
  max-width: 964px;  
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.text2{
  width: 250px;
  line-height: 23px;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.19px;
  color:#48555B ;
  padding-bottom: 19px;
}
.fact{
  width: 250px;
  line-height: 24px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.43px;
  color:#48555B ;
  padding-bottom:13px ;
}
.factimg{
  width: 65px;
  padding-bottom: 25px;
}